body {
  margin: 0px;
  padding: 0px;
  font-size: 16pt;
  letter-spacing: 1px;
  line-height: 1.6em;
  font-family: 'Open Sans', sans-serif;
}

.layout {}

.layout .content {
  margin: auto;
  padding: 200px 16px;
  max-width: 1408px;
  color: #444156;
}

.layout .content img {
  width: 100%;
  max-width: 1408px;
}

@media only screen and (max-width: 768px) {
    body {
      font-size: 12pt;
    }

    .layout .content {
      padding: 100px 16px;
    }
}
